body {
    display: flex;
    background-color: rgb(107, 107, 107);
    margin: auto;
    justify-content: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.weather-container {
    background-size: cover;
    backdrop-filter: blur(6px);
    display: grid;
    grid-template-rows: 100vh 1fr;
    background-color: #d3aeae;
    color: #ececec;
    width: 60vh;
    border-radius: 3px;
    box-shadow: inset 0 0 4px #000000;
}

.none {
    display: none;
}

.btn {
    display: flex;
    width: 100%;
    align-content: right;

    button {
        display: none;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 11px;
        border-radius: 15px;
        border: none;
        &:hover{
            opacity: 0.9;
            cursor: pointer;
        }
    }
    img {
        margin-top: 3px;    
        max-width: 20px;
    }
}

.main-container {
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: top;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(109, 109, 109, 0.8);
    p {
        margin: 0;
        font-size: 30px;
        font-weight: 700;
    }
    h1 {
        margin: 0;
        font-size: 120px;
        font-weight: 700;
    }
    h2 {
        margin: 0;
        font-size: 20px;
        font-weight: 700;
    }
}

.w-icon {
    display: none;
    margin: 0 auto;
    max-width: 100px;
}

.informations {
    display: grid;
    p {
        margin: 10px 0px 10px 20px;
        width: 60%;
    }
    span {
        height: 30px;
        margin: 10px;
    }
}

.info-box {
    background-color: rgba(129, 129, 129, 0.24);
    display: flex;
    color: #FFFFFF;
    flex-direction: row;
    box-shadow: 0 5px 6px -6px black;
    font-size: 22px;
    span {
        font-weight: 700;
    }
}

.blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px); 
}

@media (max-width: 768px) {
    .weather-container {
        width: 100vh;
        box-shadow: none;
        border-radius: none;
    }
}